In [55]:
import pandas as pd
from matplotlib import cm
import imgkit
import dataframe_image as dfi

In [67]:
team = '01_new_eden'
# team = '02_edens_gate'
player_path = f'../data/{team}/01_player_performance/players.csv'
team_path = f'../data/{team}/02_team_performance/teams.csv'
players = pd.read_csv(player_path, index_col=0)
teams = pd.read_csv(team_path, index_col=0)

In [32]:
cols = ['week1', 'sum', 'ave', 'win_rate', 'team_coordination_rate']
cmap = cm.get_cmap('RdYlGn')

,current_team,week1,sum,ave,win_rate,team_coordination_rate,days_not_played
player,,,,,,,
Charlito,10,63,63.0,63.0,7.0,3.0,0
Dazzed,10,63,63.0,63.0,7.0,3.0,0
Ashnoy,10,63,63.0,63.0,7.0,3.0,0

In [79]:
red_greed = cm.get_cmap('RdYlGn')
yellow_green = cm.get_cmap('summer_r')
yellow_green_re = cm.get_cmap('summer')
players.style\
    .format({"sum": "{:20,.0f}", 
        "ave": "{:20,.2f}", 
        "win_rate": "{:20,.2f}",
        "team_coordination_rate":"{:20,.2f}"})\
    .bar(subset=["week1",], color='lightgreen', vmin=0, vmax=63)\
    .background_gradient(axis=0,vmin=0, subset=['sum', 'ave'],cmap=red_greed)\
    .background_gradient(axis=0,vmin=0, subset=['win_rate', 'team_coordination_rate'],cmap=yellow_green)\
    .background_gradient(axis=0,vmin=0, subset=['days_not_played' ],cmap=yellow_green_re)

In [69]:
styled_players = players.style\
    .format({"sum": "${:20,.0f}", 
        "ave": "${:20,.0f}", 
        "win_rate": "{:20,.0f}",
        "team_coordination_rate":"{:20,.0f}"})\
    .bar(subset=["week1",], color='lightgreen', vmin=0, vmax=63)\
    .background_gradient(axis=0,vmin=0, subset=['sum', 'ave'],cmap=red_greed)\
    .background_gradient(axis=0,vmin=0, subset=['win_rate', 'team_coordination_rate'],cmap=yellow_green)\
    .background_gradient(axis=0,vmin=0, subset=['days_not_played' ],cmap=yellow_green_re)

In [70]:
dfi.export(styled_players, '../plots/players.png')

[0412/122542.791009:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122543.207289:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122544.358377:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmpv6_o3p8p/temp.png.
[0412/122544.860464:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122545.051144:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122546.216960:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmpt5wagj03/temp.png.