In [55]:
import pandas as pd
from matplotlib import cm
import imgkit
import dataframe_image as dfi

In [3]:
team = '01_new_eden'
# team = '02_edens_gate'
player_path = f'../data/{team}/01_player_performance/players.csv'
team_path = f'../data/{team}/02_team_performance/teams.csv'
players = pd.read_csv(player_path, index_col=0)
teams = pd.read_csv(team_path, index_col=0)

In [32]:
cols = ['week1', 'sum', 'ave', 'win_rate', 'team_coordination_rate']
cmap = cm.get_cmap('RdYlGn')

,current_team,week1,sum,ave,win_rate,team_coordination_rate,days_not_played
player,,,,,,,
Charlito,10,63,63.0,63.0,7.0,3.0,0
Dazzed,10,63,63.0,63.0,7.0,3.0,0
Ashnoy,10,63,63.0,63.0,7.0,3.0,0

In [62]:
red_greed = cm.get_cmap('RdYlGn')
yellow_green = cm.get_cmap('summer_r')
yellow_green_re = cm.get_cmap('summer')
# players.style\
#     .bar(subset=["week1",], color='lightgreen', vmin=0, vmax=63)\
#     .background_gradient(axis=0,vmin=0, subset=['sum', 'ave'],cmap=red_greed)\
#     .background_gradient(axis=0,vmin=0, subset=['win_rate', 'team_coordination_rate'],cmap=yellow_green)\
#     .background_gradient(axis=0,vmin=0, subset=['days_not_played' ],cmap=yellow_green_re)

teams

      week1
team
1       155
2       116
3       177
4       165
5       189
6       177
7       104
8       141
9       111
10      189

In [60]:
styled_players = players.style\
    .bar(subset=["week1",], color='lightgreen', vmin=0, vmax=63)\
    .background_gradient(axis=0,vmin=0, subset=['sum', 'ave'],cmap=red_greed)\
    .background_gradient(axis=0,vmin=0, subset=['win_rate', 'team_coordination_rate'],cmap=yellow_green)\
    .background_gradient(axis=0,vmin=0, subset=['days_not_played' ],cmap=yellow_green_re)

In [61]:
dfi.export(styled_players, '../plots/players.png')

[0412/120224.157831:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmp5el255og/temp.png.
[0412/120225.910916:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmpmb1dlbds/temp.png.