In [1]:
import os
os.chdir('../src')
from club_stats_tracker import ClubStatsTracker
import pandas as pd
import numpy as np
from matplotlib import cm
import imgkit
import dataframe_image as dfi
RED_GREEN = cm.get_cmap('RdYlGn')
RED_GREEN_r = cm.get_cmap('RdYlGn_r')

YELLOW_GREEN = cm.get_cmap('summer_r')
GREEN_YELLOW = cm.get_cmap('summer')

In [3]:
team = '01_new_eden'
# team = '02_edens_gate'
tr = ClubStatsTracker(team)

In [32]:
cols = ['week1', 'sum', 'ave', 'win_rate', 'team_coordination_rate']
cmap = cm.get_cmap('RdYlGn')

,current_team,week1,sum,ave,win_rate,team_coordination_rate,days_not_played
player,,,,,,,
Charlito,10,63,63.0,63.0,7.0,3.0,0
Dazzed,10,63,63.0,63.0,7.0,3.0,0
Ashnoy,10,63,63.0,63.0,7.0,3.0,0

In [3]:
current_week = tr.current_week
tr.week_data[fcurrent_week]

NameError: name 'tr' is not defined

In [133]:
# week = week.set_index(['team','player'])
import itertools
weeks = [current_week]
days = ['day1','day2','day3']
columns=list(itertools.product(weeks, days))
week.columns = pd.MultiIndex.from_tuples(columns)
week.columns.names = ['Week', 'Day']

In [134]:
week.head(3)

Week           week1
Day             day1 day2 day3
team player
1    DeadFDoll    14   14   17
     Enderrr      14   14   27
     Javier       14   14   27

In [32]:
cols = ['week1', 'sum', 'ave', 'win_rate', 'team_coordination_rate']
cmap = cm.get_cmap('RdYlGn')

,current_team,week1,sum,ave,win_rate,team_coordination_rate,days_not_played
player,,,,,,,
Charlito,10,63,63.0,63.0,7.0,3.0,0
Dazzed,10,63,63.0,63.0,7.0,3.0,0
Ashnoy,10,63,63.0,63.0,7.0,3.0,0

In [124]:
week.columns.get_level_values(0).unique()

Index(['week1'], dtype='object', name='Week')

In [73]:
week_styled = week.style\
        .background_gradient(axis=0,vmin=0, vmax=18, subset=[('week1','day1'),('week1','day2')],cmap=RED_GREEN)\
        .background_gradient(axis=0,vmin=0, vmax=27, subset=[('week1','day3')],cmap=RED_GREEN)
for team in range(1, 11):
    week_styled.set_table_styles({(team, week.loc[team].index[0]): [{'selector': '', 'props': 'border-bottom: 1px solid black'}],
                        (team, week.loc[team].index[1]): [{'selector': '', 'props': 'border-bottom: 1px solid black'}],
                        (team, week.loc[team].index[2]): [{'selector': '', 'props': 'border-bottom: 1px solid black'}]},
                    overwrite=False, axis=1)
for team in range(1, 11):
    week_styled.set_table_styles({(team, week.loc[team].index[2]): [{'selector': '', 'props': 'border-bottom: 2px solid black'}],
                        (team, week.loc[team].index[0]): [{'selector': '.level0', 'props': 'border-bottom: 2px solid black'}]},
                    overwrite=False, axis=1)
for week_num in week.columns.get_level_values(0).unique():
    week_styled.set_table_styles({
        (week_num, 'day1'): [{'selector': 'th', 'props': 'border-left: 1px solid white'},
                                   {'selector': 'td', 'props': 'border-left: 1px solid #000066'}]},
                    overwrite=False)
week_styled

NameError: name 'week' is not defined

In [60]:

player_data = tr.player_data
player_data.head(2)

,current_team,week1,week2,sum,ave,win_rate,team_coordination_rate,days_not_played
player,,,,,,,,
DeadFDoll,1,45.0,18.0,63.0,31.5,1.25,3.0,0
Enderrr,1,55.0,18.0,73.0,36.5,3.50,4.0,0

In [5]:
player_data.head(3)

          current_team  week1  week2   ave  win_rate  teaming_rate  no_shows
player
DeadFDoll            1   45.0   18.0  31.5      1.25           3.0         0
Enderrr              1   55.0   18.0  36.5      3.50           4.0         0
Javier               1   55.0   18.0  36.5      3.50           4.0         0

In [10]:
tr = ClubStatsTracker(team)
player_data = tr.player_data.sort_values(by='current_team')
weeks = [c for c in player_data.columns if 'week' in c]
cols = weeks + ['ave', 'win_rate','teaming_rate']
formats = {col:'{:20,.2f}' for col in cols}
player_styled= player_data.style.format(formats)\
        .bar(subset=weeks, color='lightgreen', vmin=0, vmax=63)\
        .background_gradient(axis=0,vmin=0, subset=['ave'],cmap=RED_GREEN)\
        .background_gradient(axis=0,vmin=0,vmax=2, subset=['win_rate'],cmap=RED_GREEN)\
        .background_gradient(axis=0,vmin=0,vmax=3, subset=['teaming_rate'],cmap=RED_GREEN)\
        .background_gradient(axis=0,vmin=0,vmax=6, subset=['no_shows' ],cmap=RED_GREEN_r)\
        .set_properties(subset=weeks, **{'width': '50px'})


player_styled.set_table_styles({
        'ave': [{'selector': '', 'props': 'border-left: 1px solid black'}],
                },
                    overwrite=False, axis=0)

player_styled

In [69]:
styled_players = players.style\
    .format({"sum": "${:20,.0f}", 
        "ave": "${:20,.0f}", 
        "win_rate": "{:20,.0f}",
        "team_coordination_rate":"{:20,.0f}"})\
    .bar(subset=["week1",], color='lightgreen', vmin=0, vmax=63)\
    .background_gradient(axis=0,vmin=0, subset=['sum', 'ave'],cmap=red_greed)\
    .background_gradient(axis=0,vmin=0, subset=['win_rate', 'team_coordination_rate'],cmap=yellow_green)\
    .background_gradient(axis=0,vmin=0, subset=['days_not_played' ],cmap=yellow_green_re)

[0412/122542.791009:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122543.207289:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122544.358377:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmpv6_o3p8p/temp.png.
[0412/122544.860464:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122545.051144:WARNING:dns_config_service_posix.cc(194)] Failed to read DnsConfig.
[0412/122546.216960:INFO:headless_shell.cc(659)] Written to file /var/folders/pf/ky_x0p590xl3cfbbkfv1nsb80000gn/T/tmpt5wagj03/temp.png.